@using Microsoft.AspNetCore.Components.Authorization;
@inject NavigationManager Navigation
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            @ChildContent
        </Authorized>
        <NotAuthorized>
            <p>You are not authorized to view this content. Redirecting to login...</p>
            <LoginRedirect />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}
