@using Microsoft.AspNetCore.Components.Authorization;
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        @ChildContent
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this content. Redirecting to login...</p>
        <LoginRedirect />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}
