$color_1: #007bff;
$color_2: #666;
$color_3: #fff;
$color_4: #000;
$background-color_1: #fff;
$background-color_2: transparent;


.chart-header {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

