@inherits LayoutComponentBase

<div class="navbar-container">
    <nav class="navbar">
        <!-- Logo Section -->
        <div class="nav-logo">
            <img src="your-logo.png" alt="Logo" />
        </div>

        <!-- Main Navigation Links -->
        <div class="nav-links">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-clipboard-list"></i>
                <span>Boards</span>
            </NavLink>
            <NavLink class="nav-link" href="/dashboard">
                <i class="fas fa-code-branch"></i>
                <span>Dashboard</span>
            </NavLink>>
        </div>
    </nav>
</div>