@page "/login"
@rendermode InteractiveServer
@inject IHttpContextAccessor HttpContextAccessory
@using StandardComponents.InputComponents
@using StandardComponents.UI_Components.Buttons

<div class="form-container">

    <EditForm class="form" Model="_loginModel" OnValidSubmit="HandleLogin" FormName="LoginForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h3>Login</h3>
        <div>
            <InputTextComponent Id="Email"
                                Label="Email"
                                ValueChanged="@(v => _loginModel.Email = v)" />

            <InputPasswordComponent Id="Password"
                                    Label="Password"
                                    ValueChanged="@(v => _loginModel.Password = v)" />

            <PrimaryButtonComponent ButtonType="submit">Login</PrimaryButtonComponent>
        </div>
    </EditForm>
</div>