@mixin button-variables {
    --stlib-button-primary-bg: var(--button-primary-color, #b8a87f);
    --stlib-button-secondary-bg: var(--button-secondary-color, #d9e5f6);
}

@mixin card-variables {
    --stlib-card-border-color: var(--card-border-color, #b6bac1);
    --stlib-card-bg-color: var(--card-bg-color, #fdfdfd);
    --stlib-card-header-bg-color: var(--card-header-bg-color, #eeeeef);
    --stlib-card-header-text-color: var(--card-header-text-color, #30425d)
}

@mixin input-variables {
    --stlib-label-color: var(--label-color, #323130);
    --stlib-placeholder-color: var(--placeholder-color, #767676);
    --stlib-input-background-color: var(--input-background-color, #ffffff);
    --stlib-input-border-color: var(--input-border-color, #0078d4);
}
