$color_1: black;
$background-color_1: transparent;

.dashboard-container {
    background-color: $background-color_1;
    padding: 20px;
}

.dashboard-title {
    font-size: 24px;
    color: $color_1;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}
