$color_1: black;

.dashboard-container {
    background-color: transparent;
    padding: 20px;
}

.dashboard-title {
    font-size: 24px;
    color: var(--title-text-color);
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}
