@page "/dashboard"
@using ComplianceSoftwareWebSite.Components.Pages.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using StandardComponents.CardComponents
@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeComponent>
    <div class="dashboard-container">
        <h1 class="dashboard-title">Company Name Dashboard</h1>
        <div class="dashboard">
            <CheckRequestsComponent>
                <!-- Chart content -->
            </CheckRequestsComponent>
            <ChartComponent>
                <!-- Chart content -->
            </ChartComponent>
            <CheckRequestsComponent>
                <!-- Chart content -->
            </CheckRequestsComponent>
        </div>
    </div>
</AuthorizeComponent>