@using Microsoft.AspNetCore.Components.Forms
<div class="form-group form-item-group">
    <label for="@Id">@Label</label>
    <InputDate id="@Id" @bind-Value="Value" class="form-control input-input" />
    <ValidationMessage For="@(() => Value)" class="validation-message input-validation" />
</div>

@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public string Label { get; set; }
    private DateTime? _value;
    [Parameter]
    public DateTime? Value
    {
        get => _value;
        set
        {
            _value = value;
            ValueChanged.InvokeAsync(_value);
        }
    }
    [Parameter]
    public EventCallback<DateTime?> ValueChanged { get; set; }
}
